<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TIC TAC TOE</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>TIC TAC TOE</h1>
    <div id="play-area">
        <button class="square" id="square0"></button>
        <button class="square" id="square1"></button>
        <button class="square" id="square2"></button>
        <br>
        <button class="square" id="square3"></button>
        <button class="square" id="square4"></button>
        <button class="square" id="square5"></button>
        <br>
        <button class="square" id="square6"></button>
        <button class="square" id="square7"></button>
        <button class="square" id="square8"></button>
    </div>
<script src="/static/js/game.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>