<h1>Welcome to Tic Tac Toe Game</h2>
    <link rel="stylesheet" href="/static/css/style.css">
<p>
    If there is only one player, please left blank second palyer's name
</p>
<form action="/game">
    <h3>First Player</h3>
    <p>
        <label>Your name:
            <input name="player1"/>
        </label>
    </p>
    <h3>Second Player</h3>
    <p>
        <label>Your name:
            <input name="player2"/>
        </label>
    </p>
    <input type="submit" value="Start Now" class="submit">
</form>
